@import 'reset';

$white: #ffffff;
$bg-grey: #E0E0E0;
$bg-side-bar: #586B7D;
$blue: #2085E4;
$green: #27AE60;
$water: #F0F8FF;
$wave: #F3F7FB;
$main-font: 'Roboto', sans-serif;
$text-main: #333333;
$text-black: #4F4F4F;
$text-grey: #828282;

@mixin sidepad {
    padding: 0 3.8%;
}
@mixin flex {
    display: flex;
}
@mixin row-wr {
    flex-flow: row wrap;
}
@mixin shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

body {
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: $text-main;
    cursor: pointer;
}
button {
    cursor: pointer;
}

.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-family: $main-font;
    font-weight: 400;
    color: $text-main;
}

/* Header */
.main {
    width: 74.4%;
    min-height: 700px;
    height: 100%;
    background-color: $wave;
}
.header {
    width: 100%;
    @include sidepad;
    background-color: $white;
    padding-top: 23px;
}

.header__row {
    width: 100%;
    min-height: 30px;
    padding: 15px 0;
    display: flex;
    @include row-wr;
    justify-content: flex-start;
    align-items: center;
}
.header__column1 {
    width: 193px;
}
.header__logo {
    width: 129px;
    height: 16px;
}
.logo__img {
    width: 100%;
    height: auto;
}
.header__column2 {
    min-width: 16px;
    max-width: 310px;
    display: flex;
}
.title_lg {
    font-size: 20px;
}
.header__line {
    min-width: 100%;
    height: 1px;
    background-color: $bg-grey;
    margin: 0 -6.6%;
}
.info-block__caption {
    margin-bottom: 3px;
}
.title_xs {
    font-size: 11px;
    color: $text-grey;
}
.title_md {
    font-size: 18px;
}
.info-block {
    white-space: wrap;
}
.info-block_mrg {
    margin-right: 28px;
}
.button {
    box-sizing: content-box !important;
    padding: 9px 14px;
    background-color: $white;
    border: 2px solid $blue;
    border-radius: 5px;
    white-space: nowrap;
}
.button_right {
    margin-left: auto;
}
.title_sm {
    font-size: 14px;
}
.title_b {
    font-weight: 700;
}

.header__row-3 {
    padding: 12px 0px;
}
.button_drop-down {
    position: relative;
    box-sizing: content-box !important;
    padding: 6px 34px 6px 16px;
    background-color: $water;
    color: $blue;
    border: none;
    white-space: nowrap;
}
.button_drop-down:after {
    position: absolute;
    content: "\003E";
    transform: rotate(90deg) scaleY(2.0);
    right: 13px;
}


/* Checkbox */
.form-chkbox__input {
    opacity: 0;
    margin-left: -17px;
}
.form-chkbox__lbl {
    position: relative;
    display: inline-block;
    padding-left: 22px;
}
.form-chkbox__lbl:before,
.form-chkbox__lbl:after {
    position: absolute;
    content: "";
    display: inline-block;
}
.form-chkbox__lbl:before{
    height: 16px;
    width: 16px;
    border: 2px solid $blue;
    left: 0px;
    top: 0px;
}
.form-chkbox__lbl:after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    top: 5px;
    color: $white;
}
.form-chkbox__input + .form-chkbox__lbl:after {
    content: none;
}
.form-chkbox__input:checked + .form-chkbox__lbl:after {
    content: "";
}
.form-chkbox__input:checked + .form-chkbox__lbl:before {
    background-color: $blue;
}
.form-chkbox__input:focus + .form-chkbox__lbl:before {
    outline: $blue auto 5px;
}
/* END Checkbox */
/* END Header */

/* Секция предложений */
.offers {
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 100px;
    height: 100%;
    @include sidepad;
    padding-right: calc(3.8% + 21px);
    padding-top: 31px;
    background-color: $wave;
}
.offers__hot {
    width: 100%;
    @include flex;
    @include row-wr;
    align-content: center;
    margin-bottom: 20px;
}
.button_offer {
    border: none;
    @include shadow;
    color: $white;
    margin-right: 12px;
}
.button_green {
    background-color: #429499;
}
.button_salad {
    background-color: #27AE60;
}
.button_blue {
    background-color: #4492DB;
}

.button_help {
    position: relative;
    box-sizing: content-box !important;
    padding: 9px 9px 9px 2px;
    background-color: transparent;
    color: $text-black;
    border: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: help;
}
.button_help:after {
    position: absolute;
    content: " ";
    background-image: url(../img/circ_question.svg);
    width: 18px;
    height: 18px;
    right: -18px;
    top: 9px;
}
.button__pop-in {
    position: absolute;
    z-index: 3;
    opacity: 0.0;
    box-sizing: content-box !important;
    white-space: nowrap;
    padding: 20px;
    border-radius: 5px;
    background-color: $white;
    line-height: 1.3;
    @include shadow;
}
.button__pop-in_bot-right {
    top: 44px;
    right: -69px;
}
.button__pop-in_visible {
    opacity: 1.0;
}
.button__pop-in_small:after {
    position: absolute;
    content: " ";
    width: 0px;
    height: 0px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $white;
}
.offers__filters {
    @include flex;
    @include row-wr;
    margin-bottom: 30px;
}
.offers__filter-head {
    margin-right: 15px;
}
.offers__filter {
    margin-right: 20px;
    position: relative;
    padding-bottom: 7px;
}
.offers__arrow {
    font-size: 20px;
    line-height: 0.7;
}
.offers__filter_active {
    border-bottom: 1px solid $blue;
    padding-bottom: 6px;
}
.offer-block {
    position: relative;
    z-index: auto;
    padding: 24px 45px 24px 31px;
    background-color: $white;
    @include shadow;
}
.size_xs {
    flex: 1 1 157px;
}
.offer-block__advice {
    position: absolute;
    z-index: -1;
    width: 208px;
    height: calc(100% + 19px);
    top: -19px;
    left: -12px;
    border-radius: 5px;
}
.offer-block__caption {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
    white-space: nowrap;
    color: $white;
}
.offer-block__logo {
    background-repeat: no-repeat;
    margin-bottom: 28px;
}
.offer-block__stars {
    margin-bottom: 20px;
}
.star {
    width: 13px;
    height: 13px;
    background-size: 13px;
    background-image: url(../img/star.png);
    margin-right: 3px;
    background-repeat: no-repeat;
}
.star_active {
    background-image: url(../img/star_active.png);
    background-size: 12px;
}
.offer-block__column1 {
    width: 162px;
}
.offer-block, .info-block__measure, .offer-block__stars, .offer-block__extras {
    @include flex;
    @include row-wr;
}
.icon_extras {
    margin-right: 15px;
}
.icon_truck {
    width: 24px;
    height: 17px;
    background-image: url(../img/truck.png);
    background-size: 24px;
    background-repeat: no-repeat;
}
.icon_umb {
    width: 18px;
    height: 21px;
    background-image: url(../img/umb.png);
    background-size: 18px;
    background-repeat: no-repeat;
}
.logo_citibank {
    width: 79px;
    height: 23px;
    background-image: url(../img/citibank_logo.png);
    background-size: 79px;
}
.logo_raif {
    width: 105px;
    height: 28px;
    background-image: url(../img/raif_logo.png);
    background-size: 105px;
}
.logo_vtb {
    width: 101px;
    height: 22px;
    background-image: url(../img/vtb_logo.png);
    background-size: 101px;
}
.logo_alfa {
    width: 106px;
    height: 37px;
    background-image: url(../img/alfa_logo.png);
    background-size: 106px;
}
.logo_otp {
    width: 118px;
    height: 30px;
    background-image: url(../img/otp_logo.png);
    background-size: 106px;
}
.title_xl {
    font-size: 24px;
}

.offer-block__column2 {
    @include flex;
    @include row-wr;
    max-width: 400px;
}
.row {
    width: 100%;
}
.info-block__caption_fix-height {
    height: 26px;
    display: table;
}
.t-c {
    display: table-cell;
    vertical-align: bottom;
}
.title_green {
    color: $green;
}
.title_blue {
    color: $blue;;
}
.title_white {
    color: $white;
}
.offer-block__column3 {
    margin-left: auto;
}
.button_solid {
    background-color: $blue;
    color: $white;
    @include shadow;
}
.title_dot-under {
    border-bottom: 1px dotted $blue;
}
.mrg-bttm-12 {
    margin-bottom: 12px;
}
.mrg-bttm-20 {
    margin-bottom: 20px;
}
.mrg-bttm-30 {
    margin-bottom: 30px;
}
.icon_measure {
    margin-right: 10px;
}
.offer-block__more {
    position: absolute;
    top: 0px;
    right: -19px;
    min-height: 100px;
    height: 100%;
    width: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px solid $bg-grey;
    background-color: $white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.15);
}
.offer-block__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: $text-grey;
}
.row_centerer {
    display: flex;
    justify-content: center;
}
.button_clear {
    background-color: transparent;
    color: $blue;
    margin-top: 20px;
    margin-bottom: 62px;
}
/* END Предложения */


.side-bar {
    position: relative;
    width: 25.6%;
    min-height: 700px;
    padding: 22px 32px 0px 32px;
    background-color: $bg-side-bar;
}
.profile {
    @include flex;
    @include row-wr;
    align-items: flex-start;
    margin-bottom: 60px;
}
.user {
    @include flex;
    flex-flow: row nowrap;
}
.icon_user {
    margin-right: 8px;
}
.user__name {
    font-size: 13px;
    color: $white;
    white-space: nowrap;
}
.settings {
    margin-left: auto;
}
.title_xxl {
    font-size: 64px;
}
.side-bar__offers {
    @include flex;
    @include row-wr;
    justify-content: space-between;
}
.button_help2 {
    padding: 0px;
}
.button_help2:after {
    position: absolute;
    content: " ";
    background-image: url(../img/circ_question_white.svg);
    background-size: 18px;
    width: 18px;
    height: 18px;
    right: 46px;
    top: 19px;
}
.consult {
    position: absolute;
    width: 100%;
    min-height: 100px;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.button__pop-in_med:after {
    position: absolute;
    content: " ";
    width: 0px;
    height: 0px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%) skewX(45deg);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid $white;
}
.button__pop-in_bot {
    position: absolute;
    box-shadow: none;
    z-index: -1;
    bottom: 112px;
    right: -27px;
    line-height: 21px;
}
.consult__man {
    position: absolute;
    z-index: auto;
    bottom: -1px;
    right: 57px;
    width: 91px;
    height: 150px;
    background-image: url(../img/man.png);
    background-size: 91px;
    background-repeat: no-repeat;
}
.vis-hid {
    visibility: hidden;
}
